* {
  font-family: 'Roboto', sans-serif;
}

h1, h3, p {
  color: white;
}

.header-app-title {
  font-size: 25px;
  color: white;
}

.header-profile-name {
  font-size: 15px;
  color: white;
  margin: auto;
}

.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
  font-size: 15px;
  color: black;
}

.headline {
  font-size: 23px;
}

.platform {
  color: #9d89f5;
  margin-top: 10px;
  margin-bottom: -25px;
  margin-right: 31px;
  margin-left: 13px;
}

.stat-number {
  font-size: 30px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.profile-email {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #9d89f5;
  text-align: center;
}

.members-text, .profile-name, .profile-birth {
  color: black;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, main, nav, header {
  background-color: #eee;
}

.divider {
  border-bottom: #d9d9d9 solid 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alert {
  width: 320px;
}

.alert-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.alert-banner-close {
  cursor: pointer;
}

.active {
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.button-primary, .button-disabled, .alert-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert-btn, .button-primary {
  color: white;
  width: 70%;
  background-color: #9d89f5;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #9d89f5;
  border-radius: 5px;
}

button.button-primary {
  margin: auto;
  margin-top: 5px;
  width: 89%;
  margin-bottom: 10px;
}

.button-disabled {
  margin: auto;
  margin-top: 5px;
  width: 89%;
  margin-bottom: 10px;
}

.settings-button {
  margin: auto;
}

.alert {
  width: 89%;
  background-color: #9d89f5;
  margin: auto;
}

#userField:hover, #messageField:hover {
  background-color: #9d89f5;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.grid {
  width: 320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(75px) minmax(50px) minmax(200px) minmax(800px) minmax(1800px) 200px;
      grid-template-rows: minmax(75px) minmax(50px) minmax(200px) minmax(800px) minmax(1800px) 200px;
      grid-template-areas: "header" "nav" "main" "section" "aside" "footer";
}

header {
  display: -ms-grid;
  display: grid;
  background-color: #9d89f5;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  display: -ms-grid;
  display: grid;
  background-color: #765af2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

section {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: section;
}

aside {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: aside;
}

footer {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 320px;
  margin: auto;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-offset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 6px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 65px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 7px;
}

#search_it {
  width: 85%;
  background-color: #eee;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
}

#search_it:hover {
  background-color: #9d89f5;
  cursor: pointer;
}

.traffic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.traffic-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  margin: auto;
}

.chart-1-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chart3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.social-flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-fact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.social-group:last-child {
  margin-bottom: 10px;
}

.social-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px grey;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  background-color: #e0e0eb;
}

.social-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-recent-flow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.members-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-email-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
}

.recent-activity-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-setting-flow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notifcation-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.email-container, .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-group {
  gap: 10px;
}

label#email-group, label#profile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header img {
  width: 37px;
  height: 37px;
  border: 1px solid white;
  border-radius: 100px;
}

.header-me {
  border: solid 1px white;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.bell-icon {
  height: 40%;
}

.bell-icon, nav svg {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 2rem;
  color: white;
  margin: auto;
}

.bell-icon:hover, .bell-icon:focus, nav svg:hover, nav svg:focus {
  -webkit-animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  85% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  85% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

nav svg {
  height: 50%;
  height: auto;
  margin: auto;
}

nav a {
  margin: auto;
}

.social-image {
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top: 12px;
}

.social-border {
  margin: auto;
  border: solid 1px #9d89f5;
  border-radius: 70px;
  background-color: #9d89f5;
  width: 55px;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-image {
  border: solid 1px white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #9d89f5;
  border-radius: 100%;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  text-align: center;
  width: 89%;
  background-color: #e0e0eb;
  border: 1px solid #9d89f5;
  border-radius: 5px;
}

.message-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 5px;
  width: 89%;
  text-align: center;
  background-color: #e0e0eb;
  border: 1px solid #9d89f5;
  border-radius: 5px;
}

select#timezone, option {
  width: 89%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 89%;
}

fieldset {
  margin-top: 10px;
  margin-bottom: 10px;
}

canvas {
  max-width: 100%;
}

.chart1 {
  width: 300px;
  margin-bottom: 10px;
}

.chart3 {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}

/* ============================================= */
/*              @Media Breakpoints                      */
/* ============================================= */
.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
  font-size: 22px;
}

@media only screen and (min-width: 768px) {
  .grid {
    width: 768px;
    -ms-grid-columns: 50px 718px;
        grid-template-columns: 50px 718px;
    -ms-grid-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px);
        grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px);
        grid-template-areas: "header header" "nav main" "nav section" "nav aside" "nav footer";
  }
  .divider {
    width: 768px;
  }
  header {
    width: 768px;
  }
  .header-container {
    min-width: 718px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-offset {
    -webkit-box-flex: .1;
        -ms-flex-positive: .1;
            flex-grow: .1;
  }
  .bell-icon {
    height: 70%;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-container {
    width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    gap: 20px;
  }
  nav svg {
    height: 100px;
  }
  .main-container {
    width: 768px;
  }
  .main-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
  }
  .alert-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .traffic-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .traffic-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .traffic-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 50px;
  }
  .chart-1-main {
    width: 768px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chart1 {
    width: 680px;
    margin: auto;
  }
  .chart3 {
    height: 500px;
    width: 500px;
  }
  .chart3-container {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: left;
  }
  .social-flex-parent {
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 28px;
  }
  .members-container {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .members-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 25px;
  }
  .profile-image {
    width: 100px;
    height: 100px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
  }
  .profile-birth {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  a.profile-email, .profile-birth, .profile-name {
    font-size: 25px;
    margin: auto;
  }
  .message-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-field, .message-textarea, .button-primary, .button-disabled, .email-container, .profile-container {
    font-size: 22px;
  }
  input#userField {
    width: 85%;
    margin: auto;
    height: 75px;
  }
  .message-textarea {
    height: 149px;
    text-align: center;
    width: 85%;
  }
  .button-primary, .button-disabled, .alert-btn {
    width: 85%;
  }
  .settings {
    width: 768px;
  }
  .settings-container {
    width: 768px;
  }
  .notifcation-settings {
    width: 768px;
  }
  .switch-toggle {
    width: 85%;
    margin: auto;
    margin-top: 20px;
  }
  .timezone-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  select#timezone, option {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label, .headline {
    font-size: 40px;
    color: black;
  }
  .header-profile-name {
    font-size: 35px;
  }
  p.alert_banner {
    font-size: 35px;
  }
  .members-text, .profile-name, .profile-birth {
    font-style: 35px;
  }
  .grid {
    width: 1024px;
    -ms-grid-columns: 50px 718px;
        grid-template-columns: 50px 718px;
    -ms-grid-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px);
        grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px);
        grid-template-areas: "header header" "nav main" "nav section" "nav aside" "nav footer";
  }
  header {
    width: 1024px;
    height: 100px;
  }
  .header-container {
    -webkit-box-flex: .9;
        -ms-flex: .9;
            flex: .9;
  }
  .header-offset {
    -webkit-box-flex: .1;
        -ms-flex-positive: .1;
            flex-grow: .1;
  }
  .header-app-title {
    font-size: 40px;
  }
  .header-profile-name {
    font-size: 30px;
  }
  .bell-icon {
    height: 90%;
  }
  .header-me {
    border: solid 1px white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .nav-container {
    width: 50px;
    gap: 20px;
  }
  nav svg {
    height: 150px;
  }
  main {
    width: 1024px;
  }
  .main-container {
    width: 1024px;
  }
  .alert {
    width: 150%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 120px;
    font-size: 25px;
  }
  section {
    width: 1024px;
  }
  .traffic-header {
    width: 1024px;
  }
  .traffic-header .traffic-nav {
    gap: .5;
  }
  .traffic-nav {
    gap: 50px;
    font-size: 35px;
  }
  .chart-1-main {
    width: 1024px;
  }
  .chart1 {
    width: 850px;
    height: auto;
  }
  .chart3 {
    height: 675px;
    width: 675px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside {
    width: 1024px;
  }
  .social-flex-parent {
    width: 1024px;
  }
  .social-group {
    width: 1024px;
    gap: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .social-image {
    height: 60px;
    width: 60px;
    margin-top: 17px;
  }
  .social-border {
    width: 100px;
    height: 100px;
    margin-left: 5px;
  }
  .platform {
    font-size: 25px;
    margin-bottom: -25px;
    margin-right: 25px;
    margin-left: 5px;
  }
  .stat-number {
    font-size: 40px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
  }
  .members-recent-flow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1024px;
  }
  .main-container {
    width: 500px;
  }
  .members-container {
    width: 500px;
  }
  .members-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 500px;
    gap: 22px;
  }
  .profile-image {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-left: 5px;
  }
  .profile-birth {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  a.profile-email, .profile-birth, .profile-name {
    font-size: 25px;
  }
  a.profile-email {
    font-size: 20px;
  }
  .profile-birth {
    font-size: 20px;
  }
  .recent-flex-container {
    width: 500px;
  }
  .message-setting-flow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .message-container {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .settings {
    width: 500px;
  }
  .settings-container {
    width: 500px;
  }
  .switch-toggle {
    width: 50%;
    margin: 0;
    margin-left: 50px;
    margin-top: 0px;
  }
  .notifcation-settings {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    gap: 30px;
  }
  .form-field, .message-textarea, .button-primary, .button-disabled, .email-container, .profile-container {
    font-size: 25px;
  }
  .form-field {
    height: 75px;
  }
  .message-textarea {
    height: 149px;
  }
  .email-container {
    margin-bottom: 40px;
  }
  .profile-container {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */