* {
  font-family: 'Roboto', sans-serif;
}

h1, h3, p {
  color: white;
}

.header-app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-profile-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
  font-size: 20px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.daily-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline {
  font-size: 23px;
}

.platform {
  color: #9d89f5;
  margin-top: 10px;
  margin-bottom: -25px;
  margin-right: 31px;
  margin-left: 13px;
}

.stat-number {
  font-size: 30px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 10px;
}

.profile-email {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  color: #9d89f5;
  text-align: center;
}

.members-text, .profile-name, .profile-birth, .recent--tracker-comment, .recent--tracker-date {
  color: black;
  text-align: center;
}

.recent-arrow {
  color: black;
  text-align: center;
  display: none;
}

a .toggle-interacation-email, .toggle-interacation-profile {
  color: #9d89f5;
}

.strong-email, .strong-profile {
  font-size: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, main, nav, header {
  background-color: #eee;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: 5px;
  right: -18px;
  padding: 5px 10px;
  border-radius: 50%;
  background: green;
  color: white;
}

.alert {
  width: 320px;
  border-radius: 8px;
}

.alert-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.alert-banner-close {
  cursor: pointer;
}

.active {
  background-color: green;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.alert-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert-btn, .button-primary {
  color: white;
  width: 70%;
  background-color: #9d89f5;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #9d89f5;
  border-radius: 5px;
}

button.button-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  width: 89%;
  margin-bottom: 10px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-primary-save, .button-disabled {
  margin: auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-primary-save {
  border: 1px solid #9d89f5;
  border-radius: 5px;
  background-color: #9d89f5;
  color: white;
}

.button-disabled {
  border: 1px solid #9d89f5;
  border-radius: 5px;
  background-color: grey;
  color: white;
}

.grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 60px 55px 1fr;
      grid-template-rows: 60px 55px 1fr;
      grid-template-areas: "header" "nav" "main";
}

header {
  background-color: #9d89f5;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  background-color: #765af2;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

main {
  background-color: white;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

header {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header-offset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
}

nav {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

.alert {
  width: 89%;
  background-color: #9d89f5;
  text-align: center;
  margin: auto;
}

.alert-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 7px;
}

.traffic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.traffic-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  margin: auto;
}

.chart-1-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart-1-container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart1 {
  width: 300px;
  margin-bottom: 10px;
}

.chart2-3-flow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.chart-2-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart2 {
  width: 300px;
  margin-bottom: 10px;
}

.chart-3-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart3 {
  width: 300px;
  margin-bottom: 10px;
}

.social-flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-fact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.social-group:last-child {
  margin-top: 10px;
}

.social-group:last-child {
  margin-bottom: 10px;
}

.social-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px grey;
  border-radius: 10px;
  width: 90%;
  background-color: #e0e0eb;
}

.social-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-recent-flow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-email-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recent-activity-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.recent--comment-date-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: -25px;
}

.recent--tracker-comment, .recent--tracker-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.message-setting-flow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timezone-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notifcation-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-container, .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.email-span, .profile-span {
  margin-top: -17px;
  margin-bottom: 10px;
}

.strong-email, .strong-profile {
  margin-bottom: 10px;
  margin-left: 10px;
}

switch-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.settings-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 27px;
}

header img {
  width: 37px;
  height: 37px;
  border: 1px solid white;
  border-radius: 100px;
}

.header-me {
  border: solid 1px white;
  border-radius: 50%;
  width: 55px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.svg--SMicon-white {
  fill: white;
}

a .bell-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55%;
  position: relative;
  top: 18px;
}

.bell-icon, nav svg {
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  width: 2rem;
  color: white;
  margin: auto;
}

.bell-icon:hover, .bell-icon:focus, nav svg:hover, nav svg:focus {
  -webkit-animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: bellshake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  85% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bellshake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  75% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  85% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  92% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

nav svg {
  height: 50%;
  height: auto;
  margin: auto;
}

nav a {
  margin: auto;
}

.social-image {
  height: 30px;
  width: 30px;
  margin: auto;
  margin-top: 12px;
}

.social-border {
  margin: auto;
  border: solid 1px #9d89f5;
  border-radius: 70px;
  background-color: #9d89f5;
  width: 55px;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.profile-image {
  border: solid 1px white;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #9d89f5;
  border-radius: 100%;
}

#userField:hover, #messageField:hover {
  background-color: #9d89f5;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

.form-field, .message-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 50px;
  text-align: center;
  width: 89%;
  background-color: #e0e0eb;
  border: 1px solid #9d89f5;
  border-radius: 5px;
  margin-top: 10px;
}

.message-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  text-align: center;
}

fieldset {
  border: 0px;
  outline: 0px;
}

select#timezone, option {
  width: 86%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

canvas {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .traffic-label, .headline, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
    font-size: 22px;
  }
  .column-divider-chart-2 {
    border-right: #b3b3b3 solid 1px;
    width: 768px;
  }
  .grid {
    -ms-grid-rows: 50px 1fr;
        grid-template-rows: 50px 1fr;
    -ms-grid-columns: 50px 1fr;
        grid-template-columns: 50px 1fr;
        grid-template-areas: "header header" "nav main";
  }
  header {
    background-color: #9d89f5;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  nav {
    background-color: #765af2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  main {
    background-color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 450px;
  }
  .header-offset {
    -webkit-box-flex: .1;
        -ms-flex-positive: .1;
            flex-grow: .1;
  }
  a .bell-icon {
    height: 70%;
    position: relative;
    top: 15px;
  }
  .header-profile-name {
    font-size: 20px;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .nav-container {
    width: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    gap: -30px;
  }
  nav svg {
    height: 50px;
  }
  .main-header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .alert-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .traffic-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 350px;
  }
  .traffic-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .traffic-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 20px;
  }
  .chart1 {
    width: 610px;
    aspect-ratio: auto;
  }
  .chart2-3-flow-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chart-2-main, .chart-3-main {
    width: 350px;
  }
  .chart3, .chart2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: auto;
  }
  .daily-label, .sm-user-label {
    text-align: left;
  }
  .social-flex-parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 28px;
  }
  .members-text, .profile-name, .profile-birth {
    font-size: 15px;
  }
  .members-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .members-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .members-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 45px;
  }
  .members--profile-email-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .name-email-group {
    margin: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .profile-name, .profile-email {
    text-align: left;
    margin: 0;
  }
  .members--birth-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile-image {
    width: 100px;
    height: 100px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile-birth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  a.profile-email, .profile-birth, .profile-name {
    font-size: 25px;
  }
  .profile-birth {
    padding-right: 30px;
  }
  .recent--tracker-comment, .recent--tracker-date {
    font-size: 15px;
  }
  .recent-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .recent-activity-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recent-activity-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
  }
  .recent--profile-comment-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .recent--comment-date-group {
    margin: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent--tracker-comment, .recent--tracker-date {
    text-align: left;
    margin: 0;
  }
  .recent--arrow-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recent-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px;
  }
  .message-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-field, .message-textarea, .button-primary, .button-primary-save, .button-disabled, .email-container, .profile-container {
    font-size: 22px;
  }
  input#userField {
    width: 85%;
    height: 75px;
  }
  .message-textarea {
    height: 149px;
    text-align: center;
    width: 85%;
  }
  .alert-btn {
    width: 85%;
  }
  .switch-toggle {
    margin-top: 20px;
  }
  .timezone-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  select#timezone, option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 50px;
  }
  .strong-email, .strong-profile {
    font-size: 25px;
  }
  .email-container, .profile-container {
    gap: 30px;
  }
  .email-span, .profile-span {
    margin-top: -17px;
  }
  .button-primary-save, .button-disabled {
    width: 45%;
  }
  button.button-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
    width: 89%;
    margin-bottom: 10px;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label, .headline {
    font-size: 40px;
    color: black;
  }
  .sm-user-label, .daily-label {
    text-align: left;
    margin: left;
  }
  .header-profile-name {
    font-size: 28px;
  }
  p.alert_banner {
    font-size: 35px;
  }
  .column-divider {
    border-right: #b3b3b3 solid 1px;
    width: 768px;
  }
  .grid {
    -ms-grid-rows: 70px 1fr;
        grid-template-rows: 70px 1fr;
    -ms-grid-columns: 70px 1fr;
        grid-template-columns: 70px 1fr;
        grid-template-areas: "header header" "nav main";
  }
  header {
    background-color: #9d89f5;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
  }
  nav {
    background-color: #765af2;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  main {
    background-color: white;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  .header-container {
    gap: 470px;
  }
  .header-app-title {
    font-size: 40px;
  }
  .header-profile-name {
    font-size: 30px;
  }
  .bell-icon {
    width: 100px;
    margin: auto;
  }
  .notification .badge {
    right: 10px;
  }
  .header-me {
    border: solid 1px white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .alert-banner {
    padding-left: 30px;
    padding-right: 30px;
  }
  .traffic-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 320px;
  }
  .traffic-nav {
    gap: 20px;
    font-size: 28px;
  }
  .chart1 {
    width: 850px;
  }
  .chart-2-main, .chart-3-main {
    width: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chart2-container {
    width: 350px;
    gap: 60px;
  }
  .chart3-container {
    width: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chart2 {
    margin-right: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chart3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social-group {
    gap: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .social-image {
    height: 60px;
    width: 60px;
    margin-top: 17px;
  }
  .social-border {
    width: 100px;
    height: 100px;
    margin-left: 5px;
  }
  .platform {
    font-size: 25px;
    margin-bottom: -25px;
    margin-right: 25px;
    margin-left: 5px;
  }
  .stat-number {
    font-size: 40px;
    color: grey;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
  }
  .members-recent-flow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .members-group {
    gap: 10px;
  }
  a.profile-email {
    font-size: 15px;
  }
  .profile-birth {
    font-size: 15px;
  }
  .members-container {
    width: 500px;
  }
  .recent-flex-container {
    width: 500px;
  }
  .recent-activity-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  .recent-arrow {
    padding-right: 5px;
  }
  .profile-image {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-left: 5px;
  }
  .profile-birth {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  a.profile-email, .profile-birth, .profile-name {
    font-size: 25px;
  }
  a.profile-email {
    font-size: 20px;
  }
  .profile-birth {
    font-size: 20px;
  }
  .recent-flex-container {
    width: 500px;
  }
  .message-setting-flow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .message-container {
    width: 500px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .settings {
    width: 500px;
  }
  .switch-toggle {
    width: 50%;
    margin: 0;
    margin-left: 50px;
    margin-top: 0px;
  }
  .settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .notifcation-settings {
    gap: 30px;
  }
  .form-field, .message-textarea, .button-primary, .button-primary-save, .button-disabled, .email-container, .profile-container {
    font-size: 25px;
  }
  .form-field {
    height: 75px;
  }
  .message-textarea {
    height: 149px;
  }
  .email-container, .profile-container {
    gap: 15px;
  }
  .email-span, .profile-span {
    margin-top: -17px;
  }
  .timezone-settings {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-primary-save, .button-disabled {
    margin: auto;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
  }
}
/*# sourceMappingURL=styles.css.map */