// ============================================= 
//Variable                      
// =============================================

// General Colors 



// Col Colors


$main-purple: #826AEE;
$secondary-purple: #4F2CEE;
$defult-white: white;
$seconday-white: #e0e0eb;


// Buttons












