// ============================================= 
//Variable                      
// =============================================

//Colors

$main-purple: #7577bf;
$secondary-purple: #4d4b73;
$defult-white: white;
$seconday-white: #e0e0eb;
$default-grey: #777;













