/* ============================================= */
/*              @Media Breakpoints               */
/* ============================================= */


@media only screen and (min-width: 1024px) {

    .grid {
        min-width: 1024px;    
        grid-template-columns: 50px 1fr;
    grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1500px) minmax(200px);
    grid-template-areas:  
    "header header"
    ". ."
    "nav main"
    "nav section"
    "nav aside"
    "nav footer";
}

//==========================

//Top Header

.header-container {
    min-width: 1024px;
}

// =========================

//Dashboard & search input

.main-header {
    display: grid;
    min-width: 1024px;
}

//--- main hearder variables

.main-header {
margin: 0;
}

.main-header-search {
width: 60%;
display: inline;
}

.headline {
    font-size: 25px;
    display: inline;
    //Unable to change the margins for whatever reason
    // margin-top: 555px;
    margin: 0;
    text-align: left;
}
 
// ======================

//The navigation side bar

.nav-container {
    display: grid;
    min-width: 50px;
}

//============================
//General Traffic Container 

.chart-1-container-full {
    display: grid;
    min-width: 768px;
}

// Daily Traffic Chart Container

.daily-container {
    display: grid;
    min-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px) minmax(200px);
    grid-template-areas:  
        "daily-label"
        "chart-2-container-full";
    justify-content: center;
}

// Circle Graph

.chart-3-container-full {
    display: grid;
    min-width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px) minmax(200px);
    grid-template-areas:  
        "sm-user-label"
        "chart3";
    justify-content: center;
}

//---- variable -----

canvas .chart1 {
    height: 15%;
    width: 25%;
}

canvas .chart3, canvas .chart2 {
    height: 15%;
    width: 15%;
}

//=================================

// Parent Social Sections
    
.social-container {
    display: grid;
    min-width: 1024px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px) minmax(200px)  minmax(600px);
    grid-template-areas:
        "social-group social-group"
        "members recent-activity"  
        "message settings";
            justify-content: center;
    margin: auto;
}


// socila group bigger groups
.social-group {
    display: grid;
    min-width: 300px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: minmax(768px);
    grid-template-areas:
        "social-text social-text social-text";
    justify-content: none;
    margin: 0;
}

.social-text {
    display: grid;
    grid-area: social-text;
}


.social-text {
    min-width: 300px;
}

// ----------- Members grid

.members-container {
    display: grid;
    min-width: 500px;
}


.recent-activity-group {
    display: grid;
    min-width: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px) minmax(100px);
    grid-template-areas:
    "recent-label "
    "recent-activity-container";
}


//Message functionality
.form-field, .message-textarea, .button-primary {
    width: 85%;
}


//form area

.widget-container {
    display: grid;
    min-width: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px) minmax(100px) minmax(100px) minmax(100px);
    grid-template-areas:
    "message-input"
    "form-field "
    "message-textarea"
    "button-primary";
    justify-content: center;
}

//Settings area

.settings-container {
    min-width: 490px;
}

.notifcation-settings {
    min-width: 490px;
}

.email-container {
    max-width: 490px;
}

.profile-container {
    min-width: 490px; // This is for the larger sizes
}

//email/profile variables

.strong-email {
    margin-top: 175px;
}

.strong-email, .strong-profile {
    font-size: 25px;
}
// ==================================

}