// ============================================= 
//                  Base style                      
// =============================================


// traffic header grid rules

.traffic-nav {
    margin: auto;
}

.traffic-nav-link-1, .traffic-nav-link-1
.traffic-nav-link-active-3, .traffic-nav-link-4 {
    margin: auto;
}

.main-header {
display: inline;
margin: auto;
}

.main-header-search {
// width: 50%;
width: 25%;

}