// ============================================= 
//                  Base style                      
// =============================================


// traffic header grid rules

.traffic-nav, .traffic-label {
    margin: auto;
}

.traffic-header {
    margin: auto;
}

.traffic-nav-hourly, .traffic-nav-daily, .traffic-nav-weekly, .traffic-nav-monthly {
    margin: auto;
}

.main-header {
display: inline;
margin: auto;
}

.main-header-search {
// width: 50%;
width: 25%;
color: $seconday-white;
}

.social-text {
 border: solid 1px grey;
 border-radius: 10px;
 width: 90%;
 margin: auto;
 margin-top: 20px;
background-color: $seconday-white;
}


