// ============================================= 
//                  Base style                      
// =============================================

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body, main, nav, header {
        background-color: #eee;
}

.divider {
        border-bottom: #b3b3b3 solid 1px;
        margin-top: 10px;
        margin-bottom: 10px;
}

// notification Badge

.notification {
        // background-color: #555;
        color: white;
        text-decoration: none;
        // padding: 15px 26px;
        position: relative;
        display: inline-block;
        // border-radius: 2px;
      }
      
//       .notification:hover {
//         // background: red;
//       }
      
      .notification .badge {
        position: absolute;
        top: 5px;
        right: -18px;
        // padding: 0px 5px;
        padding: 5px 10px;
        border-radius: 50%;
        background: green;
        color: white;
      }

//==================

.alert {
        width: 320px;
        border-radius: 8px;
}

.alert-banner {
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: space-between;
        flex-basis: 100%;
}

.alert-banner-close {
       cursor: pointer;
}

.active {
        background-color: green;
        border-radius: 5px;
        color: white;
        padding: 5px;
}