// ============================================= 
//                   Button - Styles                  
// =============================================

  
.alert-btn {
color: white; 
width: 70%;
border: 1px solid #826aee;
background-color: #826aee;
margin: auto;
border-radius: 5px;
margin-top: 10px;
}