// ============================================= 
//                   Button - Styles                  
// =============================================

  
.alert-btn, .button-primary  {
color: $defult-white; 
width: 70%;
background-color: $main-purple;
margin: auto;
margin-top: 10px;
@include main-border-style;
}

.button-primary {
margin: auto;
margin-top: 5px;
width: 98%;
}

.settings-button {

    margin: auto;
}

.alert {

    width: 95%;
    background-color: $main-purple;
    margin: auto;
    margin-bottom: -10px;
    
}
