// ============================================= 
//                   Button - Styles                  
// =============================================

  
.alert-btn {
color: $defult-white; 
width: 70%;
border: 1px solid $main-purple;
background-color: $main-purple;
margin: auto;
border-radius: 5px;
margin-top: 10px;
}