// ============================================= 
//                  Charts                      
// =============================================

.chart1 {
    width: 300px;
    margin-bottom: 10px;

}

.chart2 {
    width: 140px;
    margin-bottom: 10px;

}

.chart3 {
    height: 300px;
    width: 300px;
margin: auto;
margin-bottom: 10px;

}