// ============================================= 
//                  Charts                      
// =============================================

.chart1 {
    width: 350px;
}

.chart2 {
    width: 160px;
}



.chart3 {
    height: 300px;
    width: 300px;
margin: auto;
}