// ============================================= 
//                  Charts                      
// =============================================


canvas {
    max-width: 100%;
 }

.chart1 {
    width: 300px;
    margin-bottom: 10px;

}
//NOT WORKING!!!!!
.chart2 {
    width: 4564456px;
    margin-bottom: 10px;

}

.chart3 {
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;

}