
// Form

// Message Support 

.form-field {
    margin: auto;
    text-align: center;
    background-color: $seconday-white;
    @include main-border-style;
}

.message-textarea {
    margin: auto;
    margin-top: 5px;
    text-align: center; 
    background-color: $seconday-white;
    @include main-border-style;
}

select {
    width: 100%;
padding-top: 15px;
padding-bottom: 15px;
}

fieldset {
margin-top: 10px;
margin-bottom: 10px;
}