
// Form

// Message Support 

.form-field {
    display: flex;
    margin: auto;
    text-align: center;
    width: 97%;
    background-color: $seconday-white;
    @include main-border-style;
}

.message-textarea {
    display: flex;
    margin: auto;
    margin-top: 5px;
    width: 97%;
    text-align: center; 
    background-color: $seconday-white;
    @include main-border-style;
}

select {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}


