// ============================================= 
//Grid Systems                      
// =============================================
  
//PARENT GRID (TIER 1)

.grid {
    //Fill up the screen here
    max-width: 767px;
    // height: auto;
    display: grid;
    // background-color: red;

    grid-template-columns: 1fr 1fr;
    //THIS CONTROLS THE SIZE OF THE ROWS HEIGHT of all the catries
    //.USSE THISSSSS
    grid-template-rows: min(50px) min(50px) min(100px) min(350px) min(1200px) min(200px);
    grid-template-areas:  
    "header header"
    "nav nav"
    "main main"
    "section section"
    "aside aside"
    "footer footer";
}

header {
    display: grid;
    background-color: $main-purple;
    grid-area: header;
    text-align: center;
}

nav {
    display: grid;
    background-color: $secondary-purple;
    grid-area: nav;
    text-align: center;
}

main {
    display: grid;
    background-color: $defult-white;
    grid-area: main;
    text-align: center;
}

section {
    display: grid;
    background-color: $defult-white;
    grid-area: section;
    text-align: center;
}

aside {
    display: grid;
    background-color: lightgreen;
    grid-area: aside;
    text-align: center;
}

footer {
    display: grid;
    background-color: pink;
    grid-area: footer;
    text-align: center;
}

//========================//
// HEADER GRID PROPERTIES //
//========================//

//HEADER CHILD GRID (TIER 2)

.header-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    grid-template-areas:  
        "header-1 header-2 header-3 header-4 header-5";
    justify-content: center;
}

.header-1 {
    display: grid;
    grid-area: header-1;
}

.header-2 {
    display: grid;
    grid-area: header-2;
}

.header-3 {
    display: grid;
    grid-area: header-3;
}

.header-4 {
    display: grid;
    grid-area: header-4;
}

.header-5 {
    display: grid;
    grid-area: header-5;
}

//------------------------------

//NAV CHILD GRID (TIER 2)
.nav-container {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    grid-template-areas:  
        "nav-1 nav-2 nav-3 nav-4";
    justify-content: center;
}

.nav-1 {
    display: grid;
    grid-area: nav-1;
}

.nav-2 {
    display: grid;
    grid-area: nav-2;
}

.nav-3 {
    display: grid;
    grid-area: nav-3;
}

.nav-4 {
    display: grid;
    grid-area: nav-4;
}

//--------------------------

// MAIN CHILD GRID (TIER 2)

//Why is widget container not located here
.main-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: minmax(200px);
    grid-template-rows: min(50px) min(50px);
    grid-template-areas:  
        "main-header main-header"
        "alert alert";
    justify-content: center;
}

.main-header {
    display: grid;
    grid-area: main-header;
}

//It requires javascript
.alert {
    display: grid;
    grid-area: alert;
}

// ============================================================

// TRAFFIC CHILD GRID (TIER 2)

.traffic {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: minmax(200px) minmax(200px);
    grid-template-rows: min(100px) min(100px) min(100px) min(100px);

    // Need to make the divisions
    grid-template-areas:  //For some reason, its is double collumn!!!! BE AWARE YO!!!!!
        "traffic-header traffic-header"
        "widget-container-full widget-container-full"
        "daily daily";
    }

.traffic-header {
    display: grid;
    grid-area: traffic-header;
}

.widget-container-full {
    display: grid;
    grid-area: widget-container-full;
}

.daily {
    display: grid;
    grid-area: daily;
}

// ============================================================

// TRAFFIC-HEADER GRAND CHILD GRID (TIER 3)
.traffic-header {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: minmax(200px) minmax(200px);
    grid-template-rows: min(50px) min(50px);
    grid-template-areas:  //For some reason, its is double collumn!!!! BE AWARE YO!!!!!
        "traffic-label traffic-label"
        "traffic-nav traffic-nav";
}

.traffic-label {
    display: grid;
    grid-area: traffic-label;
}

.traffic-nav {
    display: grid;
    grid-area: traffic-nav;
}

// ==================================

// TRAFFIC-NAV GRAND GRAND CHILD GRID (TIER 4)
.traffic-nav {
    display: grid;
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // This could be the problem for row fitting 
    grid-template-rows: minmax(200px); 
    grid-template-areas:  
        "traffic-nav-link-1 traffic-nav-link-2 traffic-nav-link-active-3 traffic-nav-link-4";
    justify-content: center;
}

.traffic-nav-link-1 {
    display: grid;
    grid-area: traffic-nav-link-1;
}

.traffic-nav-link-2 {
    display: grid;
    grid-area: traffic-nav-link-2;
}

.traffic-nav-link-active-3 {
    display: grid;
    grid-area: traffic-nav-link-active-3;
}

.traffic-nav-link-4 {
    display: grid;
    grid-area: traffic-nav-link-4;
}


// =========================================

// WIDGET-CONTAINER-FULL GRAND CHILD GRID (TIER 3)
.widget-container-full {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px);
    // Need to make the divisions
    grid-template-areas:  
        "widget-grid-item widget-grid-item";
    justify-content: center;
}

widget-grid-item {
    display: grid;
    grid-area: widget-grid-item;
}

// =========================================

// DAILY GRAND CHILD GRID (TIER 3)

.daily-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(200px) minmax(200px);
    // Need to make the divisions
    grid-template-areas:  
        "daily-label daily-label"
        "widget-container-half widget-container-half";
    justify-content: center;
}

.daily-label {
    display: grid;
    grid-area: daily-label;
}

.widget-container-half {
    display: grid;
    grid-area: widget-container-half;
}


// =========================================
// SOCIAL CHILD GRID (TIER 2)

.social-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px) minmax(200px) minmax(200px) minmax(200px) minmax(200px);
    grid-template-areas:
        "social-group social-group"
        "members members"  
        "recent-activity recent-activity"
        "message message"
        "settings settings";
    justify-content: center;
}

.social-group {
    display: grid;
    grid-area: social-group;
}

.members {
    display: grid;
    grid-area: members;
}

.recent-activity {
    display: grid;
    grid-area: recent-activity;
}

.message {
    display: grid;
    grid-area: message;
}

.settings {
    display: grid;
    grid-area: settings;
}

// =========================================
// SOCIAL TEXT GRAND CHILD GRID (TIER 3)

// .social-group
.social-text {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px);
    grid-template-areas:
        "social-border platform"
        "social-border stat-number";
    justify-content: center;
}

.social-border {
    display: grid;
    grid-area: social-border;
}

.platform {
    display: grid;
    grid-area: platform;
}

.stat-number {
    display: grid;
    grid-area: stat-number;
}

// =========================================
// Members GRAND CHILD GRID (TIER 3)

// .social-group
.members-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px) minmax(100px) minmax(100px) minmax(100px);
    grid-template-areas:
        "profile-image profile-image"
        "members-text members-text"
        "profile-name profile-name"
        "profile-email profile-email"
        "profile-birth profile-birth";
        justify-content: center;
}


.profile-image {
    display: grid;
    grid-area: profile-image;
}

.members-text {
    display: grid;
    grid-area: members-text;
}

.profile-name {
    display: grid;
    grid-area: profile-name;
}

.profile-email {
    display: grid;
    grid-area: profile-email;
}

.profile-birth {
    display: grid;
    grid-area: profile-birth;
}

//=============================================================================//
// Members GRAND CHILD GRID (TIER 3)

// .social-group
.widget-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px) minmax(100px) minmax(100px);
    grid-template-areas:
    "message-input message-input"
    "form-field form-field"
    "message-textarea message-textarea"
    "button-primary button-primary";
    justify-content: center;
}

.message-input {
    display: grid;
    grid-area: message-input;
}

.form-field {
    display: grid;
    grid-area: form-field;
}

.message-textarea {
    display: grid;
    grid-area: message-textarea;
}

.button-primary {
    display: grid;
    grid-area: button-primary;
}

//=============================================================================//
// Settings Container GRAND CHILD GRID (TIER 3)
.settings-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px);
    grid-template-areas:
    "time-settings time-settings"
    "settings-button settings-button";
    justify-content: center;
}

.time-settings {
    display: grid;
    grid-area: time-settings;
}

.settings-button {
    display: grid;
    grid-area: settings-button;
}

//=============================================================================//
// Time Setting  Grand grand CHILD GRID (TIER 4)

.time-settings {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px) minmax(100px) minmax(100px);
    grid-template-areas:
    "form-field form-field"
    "option-disabled option-disabled"
    "option option";
    justify-content: center;
}

.form-field {
    display: grid;
    grid-area: form-field;
}

.option-disabled {
    display: grid;
    grid-area: option-disabled;
}

.option {
    display: grid;
    grid-area: option;
}

//=============================================================================//
// SETTING-BUTTON  Grand grand CHILD GRID (TIER 4)

.time-settings {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px) minmax(100px) minmax(100px) minmax(100px);
    grid-template-areas:
    "button-primary button-primary"
    "button-disabled button-disabled";
    justify-content: center;
}

.button-primary {
    display: grid;
    grid-area: button-primary;
}

.button-disabled {
    display: grid;
    grid-area: button-disabled;
}


//========================================================

@media only screen and (min-width: 768px) {

    .grid {
        max-width: 768px;    
        
        // grid-template-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;

        grid-template-rows: 200px minmax(200px, 1fr) minmax(200px, 1fr) 100px;
    
        // Going to comment out for now
        // grid-template-areas:  
        // "header header"
        // "main nav"
        // "aside aside"
        // "footer footer";
    }
    

//===============//
// Main Flex Box //
//===============//

//Use width 100% to fill ip the page in amke it responsive


// .main-container {
//     display: flex;
//     flex-direction: rows;
// }

// .about-me-container {
//     display: flex;
//     flex-direction: column;
   
// }


// .announcment-countainer {
//     display: flex;
//     flex-direction: column;
// }

// //===============//
// // Aside Flex Box //
// //===============//


// .content-container {   //A grid within a grid!!!!!!
// display: grid;
// grid-template-columns: 1fr 1fr;
// grid-template-rows: 200px 200px;
// grid-column-gap: 20px; 
// grid-row-gap: 20px;  
// grid-template-areas: 
// "video video"
// "podcast blog";

// }


// // Because it automatically targets the upper grid >>>> no need to specify
// .video-content { //Thes class chosen classes now take effect with grid area!!!!
// display: grid;
// grid-area: video;

// }

// .podcast-content {
//     display: grid;
// grid-area: podcast;

// }

// .blog-content {
//     display: grid;
// grid-area: blog;
// }


//===============//
// The flex half as way of doing it //
//===============//
// .content-container {
//     display: flex;
//     flex-direction: row;
    
//     }
    
    
//     .video-content {
//     display: flex;
//     flex-direction: column;
    
//     }
    
//     .podcast-content {
//         display: flex;
//         flex-direction: column;
//     }
    
//     .blog-content {
//         display: flex;
//         flex-direction: column;
    
    
    

}




// .row {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//   }
  
//   .column {
//     display: flex;
//     flex-direction: column;
//     flex-basis: 100%;
//     flex: 1;