// ============================================= 
//Grid Systems                      
// =============================================
  


.grid {
    //Fill up the screen here
    max-width: 767px;
    // height: auto;
    display: grid;
    // background-color: red;

    grid-template-columns: 1fr 1fr;
    //THIS CONTROLS THE SIZE OF THE ROWS HEIGHT
    grid-template-rows: 50px 50px 50px 200px;
    grid-column-gap: 20px; //TAKE THIS OUT LATER ON
    // grid-row-gap: 3px;  

    grid-template-areas:  
    "header header"
    "nav nav"
    "main main"
    "main main"
    "footer footer";

    // grid-template-areas:  
    // "header header"
    // "main nav"
    // "aside aside"
    // "footer footer";
}

header {
    display: grid;
    background-color: #826AEE;
    grid-area: header;
    text-align: center;
}

nav {
    display: grid;
    background-color: #4F2CEE;
    grid-area: nav;
    text-align: center;
}

main {
    display: grid;
    background-color: white;
    grid-area: main;
    text-align: center;
}

// aside {
//     display: grid;
//     background-color: blue;
//     grid-area: aside;
//     text-align: center;
// }

footer {
    display: grid;
    background-color: pink;
    grid-area: footer;
    text-align: center;
}

//========================//
// HEADER GRID PROPERTIES //
//========================//

// Sub Header Container
.header-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    grid-template-areas:  
        "header-1 header-2 header-3 header-4 header-5";
    justify-content: center;
}

.header-1 {
    display: grid;
    grid-area: header-1;
}

.header-2 {
    display: grid;
    grid-area: header-2;
}

.header-3 {
    display: grid;
    grid-area: header-3;
}


.header-4 {
    display: grid;
    grid-area: header-4;
}

.header-5 {
    display: grid;
    grid-area: header-5;
}

//------------------------------

// Sub NAV CONTAINER

.nav-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    grid-template-areas:  
        "nav-1 nav-2 nav-3 nav-4";
    justify-content: center;
}

.nav-1 {
    display: grid;
    grid-area: nav-1;
}

.nav-2 {
    display: grid;
    grid-area: nav-2;
}

.nav-3 {
    display: grid;
    grid-area: nav-3;
}

.nav-4 {
    display: grid;
    grid-area: nav-4;
}

//--------------------------

// Sub NAV CONTAINER

//The divisions arent responding
.main-container {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr;
    // grid-template-rows: minmax(200px);
    grid-template-rows: minmax(200px) minmax(200px) minmax(200px) minmax(200px);

    // Need to make the divisions
    grid-template-areas:  
        "main-header"
        "alert"
        "traffic" 
        "daily";
    justify-content: center;
}

// I just need to  make this horizontal >>> hopefully easy work!!!
.main-header {
    display: grid;
    grid-area: main-header;
}

//It requires javascript
.alert {
    display: grid;
    grid-area: alert;
}

//Need to make a subgrid for it
.traffic { //This is the parent subgrid for .traffic-header
    display: grid;
    grid-area: traffic;
}

.daily {
    display: grid;
    grid-area: daily;
}

// .social- {
//     display: grid;
//     grid-area: daily;
// }

// ============================================================

//This is the child frid for .traffic
.traffic-header {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr;
    // grid-template-rows: minmax(200px) minmax(200px);
    grid-template-rows: 100px 100px 100px 100px;

    // Need to make the divisions
    grid-template-areas:  //For some reason, its is double collumn!!!! BE AWARE YO!!!!!
        "traffic-label traffic-label"
        "traffic-nav traffic-nav "
        "daily-label daily-label"
        "widget-container-full widget-container-full";
}

//The main division for traffic-nav

.traffic-label {
    display: grid;
    grid-area: traffic-label;
}

.traffic-nav {
    display: grid;
    grid-area: traffic-nav;
}

.daily-label {
    display: grid;
    grid-area: daily-label;
}

.widget-container-full {
    display: grid;
    grid-area: widget-container-full;
}

// ==================================

// grandchild grid for traffic-nav
.traffic-nav {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px);
    // Need to make the divisions
    grid-template-areas:  
        "traffic-nav-link-1 traffic-nav-link-2 traffic-nav-link-active-3 traffic-nav-link-4";
    justify-content: center;
}

// .traffic-nav-link .1 
.traffic-nav-link-1 {
    display: grid;
    grid-area: traffic-nav-link-1;
}

// .traffic-nav-link .2 {
.traffic-nav-link-2 {
    display: grid;
    grid-area: traffic-nav-link-2;
}

// .traffic-nav-link-active .3 {
.traffic-nav-link-active-3 {
    display: grid;
    grid-area: traffic-nav-link-active-3;
}

// .traffic-nav-link .4 {
.traffic-nav-link-4 {
    display: grid;
    grid-area: traffic-nav-link-4;
}


// =========================================

// grandchild grid for widget-container-full
.widget-container-full {
    display: grid;
    // max-width: 767px; // This is for the larger sizes
    max-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px);
    // Need to make the divisions
    grid-template-areas:  
        "widget-grid-item";
    justify-content: center;
}

widget-grid-item {
    display: grid;
    grid-area: widget-grid-item;
}


//=============================================================================//

@media only screen and (min-width: 768px) {

    .grid {
        max-width: 768px;    
        
        // grid-template-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;

        grid-template-rows: 200px minmax(200px, 1fr) minmax(200px, 1fr)  100px;
    
        // Going to comment out for now
        // grid-template-areas:  
        // "header header"
        // "main nav"
        // "aside aside"
        // "footer footer";
    }
    

//===============//
// Main Flex Box //
//===============//

//Use width 100% to fill ip the page in amke it responsive


.main-container {
    display: flex;
    flex-direction: rows;
}

.about-me-container {
    display: flex;
    flex-direction: column;
   
}


.announcment-countainer {
    display: flex;
    flex-direction: column;
}

//===============//
// Aside Flex Box //
//===============//


.content-container {   //A grid within a grid!!!!!!
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 200px 200px;
grid-column-gap: 20px; 
grid-row-gap: 20px;  
grid-template-areas: 
"video video"
"podcast blog";

}


// Because it automatically targets the upper grid >>>> no need to specify
.video-content { //Thes class chosen classes now take effect with grid area!!!!
display: grid;
grid-area: video;

}

.podcast-content {
    display: grid;
grid-area: podcast;

}

.blog-content {
    display: grid;
grid-area: blog;
}


//===============//
// The flex half as way of doing it //
//===============//
// .content-container {
//     display: flex;
//     flex-direction: row;
    
//     }
    
    
//     .video-content {
//     display: flex;
//     flex-direction: column;
    
//     }
    
//     .podcast-content {
//         display: flex;
//         flex-direction: column;
//     }
    
//     .blog-content {
//         display: flex;
//         flex-direction: column;
    
    
    

}




// .row {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//   }
  
//   .column {
//     display: flex;
//     flex-direction: column;
//     flex-basis: 100%;
//     flex: 1;