// ============================================= 
//Image                      
// =============================================
  
//=========//
// Header //
//=========//

header img {
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 5px;
    justify-content: center;
    // margin-right: 5px;
}

header svg {
    margin-top: 5px;
    margin-left: 10px;
    
    justify-content: center;


}
