// ============================================= 
//Image                      
// =============================================
  
//=========//
// Header //
//=========//

header img {
    // width: 75px;
    // height: 75px;
    width: 37px;
    height: 37px;
    border: 1px solid $defult-white;
    border-radius: 100px;
    margin-top: 3px;
    justify-content: center;
    // margin-right: 5px;
}
//Change accordingly to the nav img
header svg {
    // margin-top: 5px;
    // margin-left: 10px;
    width: 80%;
    height: auto;
    color: $defult-white;
    margin: auto;
}

//need to make the images smaller
nav img {
    width: 50%;
    height: auto;
    //Got to double center it
    margin: auto;
}

nav a {
    //Got to double center it
    margin: auto;
}

.social-image {
    height: 30px;
    width: 30px;
    margin-top: 12px;
    margin-left: 13px;
}

.social-border {
    margin: auto;
    border: solid 1px $main-purple;
    border-radius: 50px;
    background-color: $main-purple;
    width: 55px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-image {
    margin: auto;
    border: solid 1px $defult-white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}


