// ============================================= 
//                  Navigation                      
// =============================================
// -----------
// Navigation

.selected-traffic-nav {
    text-decoration-style: none;
    color: white;
    padding: 5px;
    background-color: #78CF82;
    border-radius: 15px;
    }