// ============================================= 
//                  Typography                      
// =============================================


* {
  font-family: 'Roboto', sans-serif;
  }

h1, h3, p {
  color: white;
}

header h1 {
  font-size: 25px;
  padding-left: 2px;
  text-align: center;
}

header p {
  font-size: 25px;
  text-align: center;
}
