// /* ============================================= */
// /*              @Media Breakpoints               */
// /* ============================================= */

@media only screen and (min-width: 1024px) {

//===============================================
//Groups Font's

.traffic-label, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
    font-size: 25px;
    color: black;
  }
  
  .header-profile-name {
    font-size: 25px;
  }

  //It's not responding
  .members-text, .profile-name, .profile-birth {
    font-style: 25px;
  }

  .traffic-label, .traffic-nav {
    font-style: 25px;
  }

  //===============================================

.grid {
    width: 1024px;    
    grid-template-columns: 50px 718px;
    grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px); //minmax(200px);
     grid-template-areas:  
    "header header"
    "nav main"
    "nav section"
    "nav aside"
    "nav footer";
}

//========================//
// HEADER (FLEX) PROPERTIES //
//========================//
//(TITLE/BELL ICON/ BREAKLINE/ME)

header {
    width: 1024px;    
}

.header-container {
    flex: .9;
}

.header-offset {
    flex-grow: .1;
}

// ============================================================

// MAIN (FLEX) PROPERTIES

// SEARCH BAR/ALERT PART
//(MAIN HEADER / ALERT)

main {
    width: 1024px;    
}

.main-container {
    width: 1024px;    
}

#search_it {
    width: 390%;
    margin-right: 10px;
    // flex-grow: 2;
    margin-left: 10px;
    // flex-basis: 100%;
    margin-top: 10px;
}

// ============================================================
// SECTION (FLEX) PROPERTIES
//TRAFFIC-HEADER/CHART-1-CONTAINER-FULL/DAILY/SM-USER-LABEL/CHART-3-CONTAINER-FULL)

//***FOUND A BUG IN MOVING THE TRAFFIC NAV TO THE END***

//TRAFFIC NAVIGATION SECTIONS

section {
    width: 1024px;    
}

.traffic-header {
    width: 1024px;    
}

.traffic-header .traffic-nav {
    gap:.5;
}

// ============================================================
// SECTION (FLEX) PROPERTIES
//Charts

.chart2-3-flow-container {
    width: 1024px;    
    gap: 12px;
}

.chart-1-main {
    width: 1024px;    
}

.chart-1 {
    width: 55px;
    height: 55px;
}

.chart2 {
    margin-top: 50px;
    width: 450px;
    height: 700px;
}

.chart3 {
    height: 290px;
    width: 450px;
}

// // =========================================
// ASIDE (FLEX) PROPERTIES
//SOCIAL FACT SECTIONS
//(SOCIAL-GROUP/MEMBERS/RECENT-ACTIVITY/MESSAGE/SETTINGS)

aside {
    width: 1024px;    
}

.social-flex-parent {
    width: 1024px;    
}

.social-group {
    width: 1024px;    
    gap: 30px;
    justify-content: space-around;
}

.social-image {
    height: 60px;
    width: 60px;
    margin-top: 17px;
}
  
.social-border {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

  .platform { 
    font-size: 25px;
    margin-bottom: -25px;
    margin-right: 25px;
    margin-left: 5px;
        
}
    
.stat-number {
    font-size: 40px;
    color: grey; 
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 5px;
}
    
// MEMBERS SECTIONS
//(PROFILE-IMAGE/MEMEBRS-TEXT/PROFILE-NAME/PROFILE-EMAIL-PROFILE-BIRTH)

.members-recent-flow-container {
    display: flex;
    flex-direction: row;
    width: 1024px;    
}

.main-container {
    width: 500px;
}

.members-container {
    width: 500px;
}

.member-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
}

.profile-birth {
    flex-direction: column;
    justify-content: end;
    margin: right;
}


.profile-email {
    text-align: left;
    margin: 0;
}
  
.members-text, .profile-name, .profile-birth {
    text-align: left;
    margin: 0;
}

.profile-image {
    display: flex;
    flex-direction: column;
    margin:0%;
}

// Recent Part

.recent-flex-container {
    width: 500px;
}

//Message /Settigns 

.message-setting-flow-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.message-container {
    width: 500px;
    justify-content: end;
}

//Setting

.settings {
    width: 500px;
}

.settings-container {
    width: 500px;
}

.form-field, .message-textarea, .button-primary, .button-disabled, .email-container, .profile-container {
    font-size: 25px;
}

.form-field {
    height: 75px;
}

.message-textarea {
    height: 149px;
}


}