// /* ============================================= */
// /*              @Media Breakpoints                      */
// /* ============================================= */

// // ============================

@media only screen and (min-width: 768px) {

    // // General Font Styles
        .traffic-label, .headline, .sm-user-label, .daily-label, .member-label, .message-label, .recent-label, .settings-label {
            font-size: 22px;
            // margin-left: 10px;
        }
        
    // GENERAL STUFF
    
        .column-divider-chart-2 {
            border-right: #b3b3b3 solid 1px;
            width: 768px;
        }
    
    .grid {
        grid-template-rows: 50px 1fr;
        grid-template-columns: 50px 1fr;
        grid-template-areas:
            "header header"
             "nav main";
    }
    
    header {
        background-color: $main-purple;
        grid-area: header;
    }
    
    nav {
        background-color: $secondary-purple;
        grid-area: nav;
    }
    
    main {
        background-color: $defult-white;
        grid-area: main;
    }
    
    // //========================//
    // // HEADER (FLEX) PROPERTIES //
    // //========================//
    // //(TITLE/BELL ICON/ BREAKLINE/ME)
    
    
    .header-container {
        justify-content: space-between;
        gap: 450px;
    }
    
    // .header-offset {
    //     // gap: 60px;
    // }
    
    .header-offset {
        flex-grow: .1;
    }
    
    a .bell-icon {
        height: 70%;
        position:relative;
        top: 15px;
    }
    
    .header-profile-name {
        font-size: 20px;
    }
    
    // // ============================================================
    
    // HOME NAVIGATIONS FLEX
    // (NAV - HOME/BAR/MEMEBERS/SETTINGS)
    
    nav {
        flex-direction: column;
        justify-content: start; 
    }
    
    .nav-container {
        width: 50px;
        flex-direction: column;
        height: 100px;
        gap: -30px;
    }
    
    nav svg {
        height: 50px;
    }
    
    // // ============================================================
    // // MAIN (FLEX) PROPERTIES
    
    // // SEARCH BAR/ALERT PART
    // //(MAIN HEADER / ALERT)
    
    .main-header {
        justify-content: start;
    }
    
    .alert {
        display: flex;
        width: 90%;
    }
    
    .alert-banner {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    // // ============================================================
    // // SECTION (FLEX) PROPERTIES
    // //TRAFFIC-HEADER/CHART-1-CONTAINER-FULL/DAILY/SM-USER-LABEL/CHART-3-CONTAINER-FULL)
    
    // //TRAFFIC NAVIGATION SECTIONS
    
    .traffic-header {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        justify-content: space-between;
        gap: 350px;
    }
    
    .traffic-label {
        display: flex;
        justify-content: start;
    }
    
    .traffic-nav {
        display: flex;
        justify-content: end;
        gap: 20px;
        
    }
    // // ---------------------------------------------------------------
    
    // //CHART 1 SECTIONS
    // //(CHARTS1)
    
    
    .chart1 {
        width: 610px;
        aspect-ratio: auto;
    
    }
    
    // // ---------------------------------------------------------------
    
    // //CHART 2 SECTIONS
    // //(DAILY-LABEL/CHART-2-CONTAINER-FULL)
    
    
    
    .chart2-3-flow-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        // flex-shrink: 0;
        // flex-basis: auto;
        // margin: auto;
    }
    
    .chart-2-main, .chart-3-main {
        width: 350px;
        // aspect-ratio: 1 / 1;
    
        // justify-content: center;
        // margin: auto; 
    }
    
    // .chart2-container {
    //     width: 300px;
    //     gap: 60px;
    
    // }
    
    // .chart3-container {
    //     width: 300px;
    
    // }
    
    // .chart2 {
    //     // margin-right: 20px;
    // }
    
    .chart3, .chart2 {
        display: flex;
        width: 300px;
        margin: auto;
    
    }
    
    
    .daily-label, .sm-user-label {
        // display: flex;
        text-align: left;
    }
    
    // .chart2 {
    //     // margin-top: 50px;
    //     width: 300px;
    //     height: 600px;
    // }
    
    // .chart3 {
    //     height: 300px;
    //     width: 300px;
    // }
    
    // // // =========================================
    // // ASIDE (FLEX) PROPERTIES
    // //SOCIAL FACT SECTIONS
    // //(SOCIAL-GROUP/MEMBERS/RECENT-ACTIVITY/MESSAGE/SETTINGS)
    
    .social-flex-parent {
        flex-direction: row;
    }
    
    .social-group {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 28px;
    }
    
    // // ---------------------------------------------------------------
    
    // // MEMBERS SECTIONS
    // // //(PROFILE-IMAGE/MEMEBRS-TEXT/PROFILE-NAME/PROFILE-EMAIL-PROFILE-BIRTH)
    
    .members-text, .profile-name, .profile-birth {
        font-size: 15px;
    }
    
    .members-flex-container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .members-container {
        display: flex;
        flex-direction: column;
        // gap: 10px;
    }
    
    .members-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //THIS IS WHAT PISHES OUT THE DATE OF BIRTH
        gap: 45px;     
    }
    
    .members--profile-email-group {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    .name-email-group {
        margin: left;
        justify-content: center;
    }
    
    .profile-name, .profile-email {
        text-align: left;
        margin: 0;    
    }
    
    .members--birth-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .profile-image {
        width: 100px;
        height: 100px;
        margin: 0;
        display: flex;
      }
    
    .profile-birth {
    display: flex;
    }
     
    a.profile-email, .profile-birth, .profile-name {
        font-size: 25px;
    }
    
    .profile-birth {
        padding-right: 30px;
    
    }
    
    // // ---------------------------------------------------------------
    // // RECENT ACTIVITY SECTIONS
    
    
    .recent--tracker-comment, .recent--tracker-date {
        font-size: 15px;
    }
    
    .recent-flex-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }
    
    .recent-activity-container {
        display: flex;
        flex-direction: column;
    }
    
    .recent-activity-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        gap: 60px;     
     
    }
    
    .recent--profile-comment-group {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    
    
    .recent--comment-date-group {
        margin: left;
        justify-content: center;
    }
    
    .recent--tracker-comment, .recent--tracker-date {
        text-align: left;
        margin: 0;    
    }
    
    .recent--arrow-group {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: auto;    
    
    }
    
    .recent-arrow {
        display: flex;
        padding-right: 20px;
    }
    
    // //============================ Message 
    
    .message-container {
        display: flex;
        flex-direction: column;
    }
    
    .form-field, .message-textarea, .button-primary, .button-primary-save, .button-disabled, .email-container, .profile-container {
        font-size: 22px;
    }
    
    input#userField {
        width: 85%;
        // margin: auto;
        height: 75px;
    }
    
    .message-textarea {
        height: 149px;
        text-align: center;
        width: 85%;
    }
    
     .alert-btn {
        width: 85%;
    }
    // //====================== Settings
    
    
    
    
    
    
    
    // //CHANGES AND OPERATES THE TIME OPTIONS
    .switch-toggle {
        // width: 85%;
        // margin: auto;
        margin-top: 20px;
    }
    
    .timezone-settings {
        display: flex;
        flex-direction: column;
    }
    
    select#timezone, option {
        display: flex;
        width: 80%;
        height: 50px;
        // padding-top: 30px;
        // padding-bottom: 30px;
    }
    
    .strong-email, .strong-profile {
        font-size: 25px;
    }
    
    
    .email-container, .profile-container {
        gap: 30px;
    }
    
    .email-span, .profile-span {
        // margin-left: 590px;
        margin-top: -17px;
        
    }
    
    .button-primary-save, .button-disabled {
        width: 45%;
    }
    
    button.button-primary {
        display: flex;
        margin-top: 5px;
        width: 89%;
        margin-bottom: 10px;
        margin: auto;
        justify-content: center;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    
    }
    
    
    }