/* ============================================= */
/*              @Media Breakpoints                      */
/* ============================================= */

//This this as if it wasn't effect the 368px
//I'll ssort that out later

@media only screen and (min-width: 768px) {

.grid {
    min-width: 768px;    
    grid-template-columns: 50px 718px;
    grid-template-rows: minmax(50px) minmax(50px) minmax(300px) minmax(800px) minmax(1700px); //minmax(200px);
    grid-template-areas:  
    "header header"
    "nav main"
    "nav section"
    "nav aside"
    "nav footer";
}


//========================//
// HEADER (FLEX) PROPERTIES //
//========================//
//(TITLE/BELL ICON/ BREAKLINE/ME)

header {
    min-width: 768px;
}

.header-container {
    min-width: 718px;
    justify-content: space-between;
}

.header-offset {
    flex-grow: .1;
}

// ============================================================

// HOME NAVIGATIONS FLEX
// (NAV - HOME/BAR/MEMEBERS/SETTINGS)

nav {
    flex-direction: column;
    justify-content: start; 
}

.nav-container {
    min-width: 50px;
    flex-direction: column;
    height: 100px;
    
}

// ============================================================

// MAIN (FLEX) PROPERTIES

// SEARCH BAR/ALERT PART
//(MAIN HEADER / ALERT)

.main-container {
    min-width: 768px;
}

.main-header {
    justify-content: start;
}


#search_it {
    width: 275%;
    margin-right: 10px;
    // flex-grow: 2;
    margin-left: 10px;
    // flex-basis: 100%;
    margin-top: 10px;
}


// ============================================================
// SECTION (FLEX) PROPERTIES
//TRAFFIC-HEADER/CHART-1-CONTAINER-FULL/DAILY/SM-USER-LABEL/CHART-3-CONTAINER-FULL)

//***FOUND A BUG IN MOVING THE TRAFFIC NAV TO THE END***

//TRAFFIC NAVIGATION SECTIONS

.traffic-header {
    display: flex;
    min-width: 768px;
    flex-direction: row;
}

.traffic-label {
    display: flex;
    justify-content: start;
}

.traffic-nav {
    display: flex;
    justify-content: end;

}

// ---------------------------------------------------------------

//CHART 1 SECTIONS
//(CHARTS1)

.chart-1-main {
    min-width: 768px;
    justify-content: center;
}

.chart1 {
    width: 650px;
    margin: auto;
}

// ---------------------------------------------------------------

//CHART 2 SECTIONS
//(DAILY-LABEL/CHART-2-CONTAINER-FULL)

.chart2-3-flow-container {
    flex-direction: row;
    gap: 3px;

}

//***UNABLE TO CHANGE THE SIZE OF CHART 2***
.chart2 {
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 600px;
 
}

.chart3 {
    height: 300px;
    width: 300px;
}

// // =========================================
// ASIDE (FLEX) PROPERTIES
//SOCIAL FACT SECTIONS
//(SOCIAL-GROUP/MEMBERS/RECENT-ACTIVITY/MESSAGE/SETTINGS)

.social-flex-parent {
    min-width: 768px;
    flex-direction: row;

}

.social-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 28px;

}

// ---------------------------------------------------------------

// MEMBERS SECTIONS
// //(PROFILE-IMAGE/MEMEBRS-TEXT/PROFILE-NAME/PROFILE-EMAIL-PROFILE-BIRTH)

.members-container {
    min-width: 768px;
    flex-direction: column;
    justify-content: space-evenly;
    //added but may need delete
    // margin: left;
}

.member-group {
    display: flex;
    flex-direction: row;
}

.profile-birth {
    display: flex;
    flex-direction: row;
    // justify-content: end;
    // text-a
    text-align: right;
    //This doesn't work
    text-align: none;
    margin: none;

}


.profile-email {
    text-align: none;
}
  
  .members-text, .profile-name, .profile-birth {
    text-align: none;
  
  }

  .profile-image {
      //here is the problem
    margin: none;
    //this seem to fix everthing with centering

  }
  



}